body {
  margin: 0px;
}

table {
  border-collapse: collapse;
}

tr {
  padding-bottom: 5px;
}

th {
  border-right: 1px solid gray;
  padding-right: 5px;
  vertical-align: top;
  background-color: #CCCCCC;
}

th.you {
  font-weight: normal;
  background-color: #FFFFFF;
}

td {
  padding-left: 5px;
  background-color: #CCCCCC;
}

td.you {
  background-color: #FFFFFF;
}
