* {
  margin: 0px;
}

.clear {
  clear: both;
}

div.message {
  color: #472E20;
}

span.timestamp {
  float: left;
  padding-right: 10px;
  font-style: italic;
}

span.author {
  float: left;
  padding-right: 10px;
  font-weight: bold;
}

span.body {
  float: left;
}

div.message.you {
  color: #215254;
  background: #EEEEEE;
}

div.message.system {
  color: #999999;
  font-style: italic;
}
